button{
  background-color: transparent;
  border: none;
  font-family: inherit;
  padding: zero;
}

body{
    font-family: "Libre Bodoni";
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.menu{
    display: flex;
    list-style: none;
    justify-content: space-between;
    background-color: #FFFFDC; 
    border-style: double;
    border-width: 15px;
    height: 50px;
    padding: 5px;
}

#red-menu{
  border-color: #73130A
}

#orange-menu{
  border-color: #BF6545;
}

#yellow-menu{
  border-color:#D9A404;
}

#blue-menu{
  border-color: #3F585C;
}

#purple-menu{
  border-color: #593F4E;
}
#pink-menu{
  border-color: #BF5E5E;
}

#white-menu{
  border-color: #AEBF8A;
}
.flower-list{
    list-style: none;
}
.color{
    margin: auto;
    background-color: #FFFFDC;
  }

  .flower-info{
    display: flex;
    padding-right: 300px;
  }

  .flower-card p{
    display: none;
  }

  .flower-card.expanded p{
    display: block;
  }

  .flower-card img{
    display: none;
  }

  .flower-card.expanded img{
    display: block;
  }

  .flower-card{
    display: flex;
    padding: 12px;
    margin-top: 20px;
    background-color: #FFFFDC;
    border-style: double;
    border-width: 15px;
    width: 68vw;
  }

  .flower-card.expanded{
    display: flex;
    padding: 12px;
    margin-top: 20px;
    background-color: #FFFFDC;
    border-style: double;
    border-width: 15px;
    width: 68vw;
    overflow: hidden;
  }

  #red-cards li{
    border-color:#73130A;
  }

  #orange-cards li{
    border-color: #BF6545;
  }

  #yellow-cards li{
    border-color:#D9A404;
  }

  #pink-cards li{
    border-color: #BF5E5E;
  }

  #blue-cards li{
    border-color:#3F585C;
  }

  #purple-cards li{
    border-color: #593F4E;
  }
  

  #white-cards li{
    border-color: #AEBF8A;
  }

.flower-card p {
    padding-left:15px;
    
}

.flower-text {
padding-right: 20px;
}

img{
  border-radius: 40%; 
  margin: auto;  
}

.red-body{
  background: url(Florals-to-Cut/Backgrounds/red.jpeg);
}
.orange-body{
  background: url(Florals-to-Cut/Backgrounds/orange.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.yellow-body{
  background: url(Florals-to-Cut/Backgrounds/yellow.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.blue-body{
  background: url(Florals-to-Cut/Backgrounds/blue.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.purple-body{
  background: url(Florals-to-Cut/Backgrounds/purple.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.pink-body{
  background: url(Florals-to-Cut/Backgrounds/pink.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.white-body{
  background:url(Florals-to-Cut/Backgrounds/white.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

button{
  font-family: inherit;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 40px;
}

#home-button:hover{
  background-color: #6A8C5A;
}

#red-button:hover{
  background-color: #BF3636;
}

#orange-button:hover{
  background-color: #BF6545;
}

#yellow-button:hover{
  background-color: #D9A404;
}

#blue-button:hover{
  background-color: #80ADBF;
}

#purple-button:hover{
  background-color: #734F63;
}

#pink-button:hover{
  background-color: #E08686;
}

#white-button:hover{
  background-color: #F2EDDC;
}

a:link{
  text-decoration: none;
}

a{
  color: black;
}

footer {
  margin-top: auto;
  text-align: center;
}